.form {
    border: 1px solid #aaa;
    padding: 5px;
    margin: 5px 0;
}

.form .field {
    margin: 3px 0;
}

.form .field.from {
    display: inline-block;
}

.form .field label {
    min-width: 45px;
    display: inline-block;
}

.form .field.to {
    margin-left: 40px;
    display: inline-block;
}

.form button {
    display:block;
    margin:5px 0;
}
