.priceAdj {
    border: 1px solid #aaa;
    padding: 5px;
    margin: 5px 0;
}

.priceAdj .field {
    margin: 3px 0;
}

.priceAdj .field.from {
    display: inline-block;
}

.priceAdj .field label {
    min-width: 45px;
    display: inline-block;
}

.priceAdj .field.to {
    margin-left: 40px;
    display: inline-block;
}