<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!-- loback config for pi-analytics-handler -->

    <property name="PROFILE" value="${profile.name}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- See http://logback.qos.ch/manual/layouts.html#PatternLayout -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{HH:mm:ss} %level %logger{46} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache" level="WARN"/>
    <logger name="com.ning.http.client.providers.netty" level="INFO"/>
    <logger name="org.mongodb" level="WARN"/>

    <root>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
