<html>
<head>
    <title>Beach Ninja Trader</title>
    <script data-main="js/page/algorithm-page-1.1" src="js/lib/require.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    #chartstyle()
</head>

<body id="algoEditorPage">
    <div id="algoEditor">
        <form class="saveForm">
            <input type="hidden" name="algoId" value="">
            <label for="description">Name:</label>
            <input name="description" class="description" type="text" maxlength="100" size="20">
            <button class="submitBtn">Save</button>
            <div id="codeEditor"></div>
        </form>
        <form class="runForm">
            <label for="symbol">Symbol:</label>
            <input name="symbol" class="symbol" type="text" maxlength="8" size="5" value="MEG">
            <button class="runBtn">Run</button>
        </form>

        <div class="reportBtn"><div class="bar"></div><div class="bar"></div><div class="bar"></div></div>

        <div id="reportPanel">
            <div class="reportWrapper">
                <div class="reportBody"></div>
            </div>
        </div>
    </div>

    <div id="status"></div>
    #contextSettings()
</body>
</html>