<html>
<head>
    <title>Beach Ninja Trader</title>
    <script data-main="js/page/algorithm-page-1.1" src="js/lib/require.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    #chartstyle()
</head>

<body id="algoEditorPage">
    <div id="algoEditor">
        <form class="saveAlgoForm">
            <input type="hidden" name="algoId" value="">
            <label for="description">Name:</label>
            <input name="description" type="text" maxlength="100" size="20">
            <button class="saveBtn">Save</button>
            <div id="codeEditor"></div>
        </form>
        <form class="runForm">
            <label for="symbol">Symbol:</label>
            <input name="symbol" class="symbol" type="text" maxlength="5" size="5" value="MEG">
            <label for="from">From:</label>
            <input name="from" class="from" type="text" maxlength="8" size="8" value="" placeholder="yyyyMMdd"
            <label for="to">To:</label>
            <input name="to" class="to" type="text" maxlength="8" size="8" value="" placeholder="yyyyMMdd">
            <button class="runBtn">Run</button>
        </form>
    </div>

    <div class="actionToggleBtn"><div class="bar"></div><div class="bar"></div><div class="bar"></div></div>
    <div id="actionPanel"></div>

    <div id="status"></div>
    #contextSettings()
</body>
</html>