<html>
<head>
    <title>Test</title>
    <script data-main="js/ninjachart2" src="js/lib/require.js"></script>
    <script>
    </script>

    #chartstyle()
</head>

<body>
<form id="symbolForm">
    <input type="text" id="symbolInput" value="MEG">
    <button type="submit" id="symbolSubmit">Submit</button>
    <select id="timeframe">
        <option value="ONE_DAY" selected>1D</option>
        <option value="ONE_WEEK">1W</option>
    </select>
</form>

<div id="chart"></div>

</body>
</html>