<html>
<head>
    <title>Beach Ninja Trader</title>
    <script data-main="js/page/chart-page-1.1" src="js/lib/require.js"></script>
    #chartstyle()
</head>

<body>
<form id="chartForm">
    <input type="text" id="symbolInput" name="symbol" value="MEG" size="6" placeholder="Symbol">
    <select name="algoId"></select>
    <button type="submit" id="symbolSubmit">Submit</button>
</form>

<div id="chart"></div>

#contextSettings()
</body>
</html>