<html>
<head>
    <title>Dashboard - Beach Ninja Trader</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/admin.css" type="text/css">
    <script data-main="js/page/dashboard-page-1.1" src="js/lib/require.js"></script>
    <script>
    </script>
</head>

<body>
<div id="dashboard"></div>

<div id="status"></div>

#contextSettings()
</body>
</html>