<html>
<head>
    <title>Dashboard - Beach Ninja Trader</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script data-main="js/dashboard" src="js/lib/require.js"></script>
    <script>
    </script>
</head>

<body>

<div id="scanner" class="panel">
    <div class="panelWrap">
        <div class="panelHeader">
            <h3 class="panelTitle">Stock Scanner</h3>
            <div class="panelAction">
                <select class="algo">
                #foreach($algo in $tradeAlgorithms)
                <option value="$algo.id">$algo.description</option>
                #end
                </select>
                <select class="days">
                    <option value="1">Today</option>
                    <option value="2">2 days ago</option>
                    <option value="3">3 days ago</option>
                    <option value="7">7 days ago</option>
                    <option value="14">14 days ago</option>
                    <option value="30">30 days ago</option>
                </select>
                <button class="refreshBtn">Scan</button>
            </div>
        </div>
        <div id="scanResult" class="panelContent">Loading...</div>
    </div>
</div>

<div id="scanner2" class="panel">
    <div class="panelWrap">
        <div class="panelHeader">
            <h3 class="panelTitle">Stock Scanner2</h3>
            <div class="panelAction">
                <select class="algo">
                    #foreach($algo in $tradeAlgorithms)
                        <option value="$algo.id">$algo.description</option>
                    #end
                </select>
                <select class="days">
                    <option value="1">Today</option>
                    <option value="2">2 days ago</option>
                    <option value="3">3 days ago</option>
                    <option value="7">7 days ago</option>
                    <option value="14">14 days ago</option>
                    <option value="30">30 days ago</option>
                </select>
                <button class="refreshBtn">Scan</button>
            </div>
        </div>
        <div id="scanResult" class="panelContent">Loading...</div>
    </div>
</div>

<div id="admin" class="panel">
    <div class="panelWrap">
        <div class="panelHeader">
            <h3 class="panelTitle">Admin Tasks</h3>
        </div>
        <div class="panelContent">
            <button class="refreshAllBtn">Refresh All</button>
            <button class="importQuotesBtn">Import Quotes</button>
        </div>
    </div>
</div>

<div id="status"></div>

#contextSettings()
</body>
</html>