<html>
<head>
    <title>Ninja Trader</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script data-main="js/scanner" src="js/lib/require.js"></script>
    <script>
    </script>
</head>

<body>

<a href="#" id="refresh">Refresh</a>

<div id="scanResult"></div>

<script>
    var context = {};
    context.contextPath = "${contextPath}";
    context.serviceHost = "${serviceHost}";
</script>
</body>
</html>